/*
Version: 1.0
*/

.title-heading h4{
	font-weight: bold;
	color: #13274B;
}

.member-image img {
	width: 250px;
    height: 250px;
}

#nasa-back-to-top {
	background: #13274B;
    color: #ffff;
}

#nasa-init-viewed {
	display: none;
}

#top-bar {
	padding: 0;
    margin: 0;
}

#top-bar marquee{
	padding: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #13274B;
    height: 100%;
}
/*************** ADD YOUR CUSTOM CSS ***************/